/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.heading
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color: #2daa9e;
    font-size: 22pt;
    text-align: center;
    margin-top: 50px;
}
.subheading
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color:#2daa9e;
    font-size: 17pt;
    width: 350px !important;
    height: 40px;
    text-align: center;
}
.subheading2
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color: #2daa9e;
    font-size: 15pt;
}
.subheading3
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    background-color: #2daa9e;
    color:white;
    font-size: 12pt;
    width: 350px !important;
    height: 40px;
    text-align: center;
}
.texts
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color: #2daa9e;
    font-size: 14pt;
    text-align: justify;
}
.texts2
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color:white;
    font-size: 14pt;
}

.imagestudent
{
    height: 300px;
    width: 500px !important;
}
.mainlogo
{
    margin-top: 10px;
    height: 30px;
    width: 150px !important;
}
hr
{   
    text-align: center;
    width: 300px;
    border: 0;
    height: 2.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #2daa9e, rgba(0, 0, 0, 0));  
}
.bodydiv
{
    background-color: white;
}
.bodydiv2
{
    background-color: aliceblue;
}
.btn{
    background-color: #2daa9e;
    color: white;
    font-size: 12px;
    font-family: url("https://fonts.googleapis.com/css?family=Dosis");

}
.panel{
    background-color: #eee;
    height: 460px;
    width: 468px;
    font-size: 14px;
    font-family: url("https://fonts.googleapis.com/css?family=Dosis");
}
.form-group{
    color:#2daa9e;
    font-size: 14px;
    font-family: url("https://fonts.googleapis.com/css?family=Dosis");
}
textarea {
    resize: none;
 }
 p.icon{
    font-size:50px;
 }
 
.heading
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color: #2daa9e;
    font-size: 22pt;
    text-align: center;
    margin-top: 50px;
}
.subheading
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color:#2daa9e;
    font-size: 17pt;
    width: 350px !important;
    height: 40px;
    text-align: center;
}
.subheading2
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color: #2daa9e;
    font-size: 15pt;
}
.subheading3
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    background-color: #2daa9e;
    color:white;
    font-size: 12pt;
    width: 350px !important;
    height: 40px;
    text-align: center;
}
.texts
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color: #2daa9e;
    font-size: 14pt;
    text-align: justify;
}
.texts2
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color:white;
    font-size: 14pt;
}
.ia
{
    height: 100px;
    width: 100px !important;
}
.imagestudent
{
    height: 300px;
    width: 500px !important;
}
hr
{   
    text-align: center;
    width: 300px;
    border: 0;
    height: 2.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #2daa9e, rgba(0, 0, 0, 0));  
}
.bodydiv
{
    background-color: white;
}
.bodydiv2
{
    background-color: aliceblue;
}
.btn{
    background-color: #2daa9e;
    color: white;
    font-size: 12px;
    font-family: url("https://fonts.googleapis.com/css?family=Dosis");

}
.panel{
    background-color: #eee;
    height: 460px;
    width: 468px;
    font-size: 14px;
    font-family: url("https://fonts.googleapis.com/css?family=Dosis");
}
.form-group{
    color:#2daa9e;
    font-size: 14px;
    font-family: url("https://fonts.googleapis.com/css?family=Dosis");
}
textarea {
    resize: none;
 }
 .icon{
    font-size:80px;
 }

 
 h3 {
    font-size: 30px;
    text-align: center;
    font-family: 'Chango', cursive;
    padding-top: 43px;
    margin-top: -35px;
transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    animation: hinge 5s both 5s;
    -webkit-animation: hinge 5s both 5s infinite alternate;
    -moz-animation: hinge 5s both 5s;
    -o-animation: hinge 5s both 5s;
    color:maroon;
}


.line {
margin: auto;
width: 0px;
height: 0px;
border-bottom: 2px solid black;
animation: line 1s both 4s;
-webkit-animation: line 1s both 4s infinite alternate;
-moz-animation: line 1s both 4s;
-o-animation: line 1s both 4s;
}

@-o-keyframes fadeIn {
0%   {font-size: 0px; color: rgba(255, 255, 255, 0.0);}
50% {font-size: 32px; color: rgba(255, 255, 255, 1);}
100% {font-size: 24px; color: rgba(255, 255, 255, 1);}
}


@-webkit-keyframes hinge {
    0%		{-webkit-transform: rotateX(-90deg);}
    50%		{-webkit-transform: rotateX(55deg);}
    100%	{-webkit-transform: rotateX(0deg);}
}


@keyframes line {
    0%		{width: 0;}
    100%	{width: 300px;}
}

@-webkit-keyframes line {
    0%		{width: 0;}
    100%	{width: 525px;}
}

@-moz-keyframes line {
    0%		{width: 0;}
    100%	{width: 525px;}
}

@-o-keyframes line {
    0%		{width: 0;}
    100%	{width: 525px;}
}


