/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.heading
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color: #2daa9e;
    font-size: 22pt;
    text-align: center;
    margin-top: 50px;
}
.subheading
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color:#2daa9e;
    font-size: 17pt;
    width: 350px !important;
    height: 40px;
    text-align: center;
}
.subheading2
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color: #2daa9e;
    font-size: 15pt;
}
.subheading3
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    background-color: #2daa9e;
    color:white;
    font-size: 12pt;
    width: 350px !important;
    height: 40px;
    text-align: center;
}
.texts
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color: #2daa9e;
    font-size: 14pt;
}
.texts2
{
    font-family: url('https://fonts.googleapis.com/css?family=Dosis');
    color:white;
    font-size: 14pt;
}
.imagelogo
{
    height: 100px;
    width: 100px !important;
}
hr
{   
    width: 300px;
    border: 0;
    height: 2.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #2daa9e, rgba(0, 0, 0, 0));  
}
.bodydiv
{
    background-color: white;
}
.bodydiv2
{
    background-color: aliceblue;
}
.btn{
    background-color: #2daa9e;
    color: white;
    font-size: 12px;
    font-family: url("https://fonts.googleapis.com/css?family=Dosis");

}
.panel{
    background-color: #eee;
    height: 460px;
    width: 468px;
    font-size: 14px;
    font-family: url("https://fonts.googleapis.com/css?family=Dosis");
}
.form-group{
    color:#2daa9e;
    font-size: 14px;
    font-family: url("https://fonts.googleapis.com/css?family=Dosis");
}
textarea {
    resize: none;
 }