<div class="container">


<div class="row">
    <h1 style="color: rgb(95, 137, 190)">OUR INTERNSHIP</h1>
   <div class="col-md-4">
        <mat-icon style="font-size: 50px">zoom_in</mat-icon>
       <h4>Angular</h4>
       <p>Making your business more visible by many means to customers for both web based and mobile based
         </p> 
    
    </div>
 
    <div class="col-md-4">
        <mat-icon style="font-size: 50px" >network_check</mat-icon>
       <h4>TESTING</h4>
       <p>We provide all kind of testing on the software including the manual as well as automation

         </p>
    </div>
    <div class="col-md-4">
        <mat-icon style="font-size: 50px">android</mat-icon>
       <h4>Android</h4>
       <p>
        We provide inters for various Android and IOS based mobile apps for business needs
         </p>
    </div>
    </div>
    <div class="row">
    <div class="col-md-4">
        <mat-icon style="font-size: 50px">remove_red_eye</mat-icon>
       <h4>PHP</h4>
       <p>We provide internships on php and live projects based on the company needs 

         </p>
    </div>
    
</div>
</div>