<br>
<div class="row">
  <div class="col-md-4">
           <p><b>Address</b><br><br>
            Pragati Softech<br><br>
     #203/A, Opp. SJBSS Public School,<br><br>
     29th Cross, 2nd Block, Rajajinagar,<br><br>
      Bangalore-560010</p>
  </div>

  <div class="col-md-4">
    <p><b>Contact Us</b><br><br>
    Email: pradeep@pragatisoftech.com<br><br>
    URL: www.pragatisoftech.com<br><br>
    Phone: 8884316060</p>
</div>

<div class="col-md-4">
  <p style="color: white; margin-top: 9px"><b>Follow Us Here</b><br><br>
    <i class="fa fa-facebook-square" style="font-size:36px"></i>&nbsp;&nbsp;
    <i class="fa fa-twitter-square" style="font-size:36px"></i>&nbsp;&nbsp;
    <i class="fa fa-linkedin-square" style="font-size:36px"></i>
   </p>
    
</div>
</div>