<br>
<div class="row">
  <div class="col-md-4">
           <p><b>Address</b><br><br>
            Pragati Softech<br><br>
     #203/A, Opp. SJBSS Public School,<br><br>
     29th Cross, 2nd Block, Rajajinagar,<br><br>
      Bangalore-560010</p>
  </div>

  <div class="col-md-4">
    <p><b>Contact Us</b><br><br>
    Email: pradeep@pragatisoftech.com<br><br>
    URL: www.pragatisoftech.com<br><br>
    Phone: 8884316060</p>
</div>

<div class="col-md-4">
  <p class="abc"><b>Follow Us Here</b><br><br>
    <i class="fa fa-facebook-square"></i>&nbsp;&nbsp;
    <i class="fa fa-twitter-square"></i>&nbsp;&nbsp;
    <i class="fa fa-linkedin-square"></i>
   </p>
      
  </div>
</div>

<div class="row1">
  <p>© 2016 Copyright | pragati Softech</p>
</div>