.btn{
    background-color: #2daa9e;
    color: white;
    font-size: 14px;
    font-family: url("https://fonts.google.com/?query=nunit&selection.family=Nunito");

}
.panel{
    margin-left: 100px;
    background-color: #eee;
    height: 460px;
    width: 468px;
    font-size: 14px;
    font-family: url("https://fonts.google.com/?query=nunit&selection.family=Nunito");
}
.form-group{
    color:#2daa9e;
}
textarea {
    resize: none;
 }