<div class="container bodydiv">
        <div class="heading">
                About Us
                </div>
                <hr>
                <div class="texts">
                        Pragati Softech is Leading Software Development Company and brand name for 
                        Internship, We build more than just software’s, Share your Ideas and see the 
                        implementation. Our mission is to provide internship to the fresh graduates 
                        and enhance their skills in development and even opportunities to the youngsters
                        coming out of colleges so that they may grow and improve intellectually,
                        economically and be good citizens.


                </div>
<app-vision></app-vision>
<app-tieup></app-tieup>
<app-ourstudents></app-ourstudents>
</div>


