<div class="col-md-4">
  <div class="main-wrapper">
    <img src="../../../../assets/a1.png" class="ia" (mouseenter)="show('h1')" (mouseout)="dshow('h1')">
    <div class="centered">
    <span style="visibility:hidden;" id="h1" style="position:relative;"><b>Angular</b></span>
   </div>
  </div>
  </div>

<div class="col-md-4">
<div class="main-wrapper">
  <img src="../../../../assets/android.png" class="ia" (mouseenter)="show('h2')" (mouseout)="dshow('h2')">
  <div class="centered">
  <span style="visibility: hidden;" id="h2" style="position:relative;"><b>Android</b></span>
 </div> 
</div>
</div>
<div class="col-md-4">
 
  <div class="main-wrapper">
  
    <img src="../../../../assets/java.png" class="ia" (mouseenter)="show('h3')" (mouseout)="dshow('h3')">
  
    <div class="centered">
    <span style="visibility: hidden;" id="h3" style="position:relative;"><b>Java</b></span>
   </div>
  </div>  
  </div> 
<div class="col-md-4">
  <div class="main-wrapper">
      <img src="../../../../assets/python.png" class="ia" (mouseenter)="show('h4')" (mouseout)="dshow('h4')">
      <div class="centered">
    <span style="visibility: hidden;" id="h4" style="position:relative;"><b>Python</b></span>
   </div>
  </div>
  </div>

  <div class="col-md-4">
       <div class="main-wrapper">
        <img src="../../../../assets/mongodb.png" class="ia" (mouseenter)="show('h5')" (mouseout)="dshow('h5')">
        <div class="centered">
      <span style="visibility: hidden;" id="h5" style="position:relative;"><b>Mongodb</b></span>
        </div>
    </div>  
    </div>

    <div class="col-md-4">
      <div class="main-wrapper">
          <img src="../../../../assets/nodejs.png" class="ia" (mouseenter)="show('h6')" (mouseout)="dshow('h6')">
              <div class="centered">
        <span style="visibility: hidden;" id="h6" style="position:relative;"><b>NodeJs</b></span>
       </div>
        </div>
        </div>


      <div class="col-md-4">
                <div class="main-wrapper">
                  <img src="../../../../assets/reactjs.png" class="ia" (mouseenter)="show('h7')" (mouseout)="dshow('h7')">
                  <div class="centered">
          <span style="visibility: hidden;" id="h7" style="position:relative;"><b>ReactJs</b></span>
         </div>
         </div>      
        </div>

        <div class="col-md-4">
            <div class="main-wrapper">     
            <img src="../../../../assets/express.png" class="ia" (mouseenter)="show('h8')" (mouseout)="dshow('h8')">
            <div class="centered">
            <span style="visibility: hidden;" id="h8" style="position:relative;"><b>ExpressJs</b></span>
           </div>  
          </div>          
          </div>

          <div class="col-md-4">
            <div class="main-wrapper">
                <img src="../../../../assets/software.png" class="ia" (mouseenter)="show('h9')" (mouseout)="dshow('h9')">       
              <div class="centered">
              <span style="visibility: hidden;" id="h9" style="position:relative;"><b>Testing</b></span>
             </div>
            </div>           
            </div>