 <div class="col-md-4">
        <div class="container">
       <div  align="center" >
        <img src="../../../../assets/angular.png" class="imagelogo">
        <div class="caption">
          <div class="overlay">
              <div class="owntext texts2">Angular</div>   
        </div>
      </div>
    </div>
    </div>
    </div>

    <div class="col-md-4">
    <div class="container">
    <div  align="center" >
      <img src="../../../../assets/android.png" class="imagelogo">
      <div class="caption">
        <div class="overlay">
            <div class="owntext texts2">Android</div>   
      </div>
    </div>
  </div>
  </div></div>
  

  <div class="col-md-4">
    <div class="container">
  <div  align="center" >
    <img src="../../../../assets/java.png" class="imagelogo">
    <div class="caption">
      <div class="overlay">
          <div class="owntext texts2">Java</div>   
    </div>
  </div>
</div>
</div></div>

<div class="col-md-4">
  <div class="container">
<div  align="center" >
  <img src="../../../../assets/python.png" class="imagelogo">
  <div class="caption">
    <div class="overlay">
        <div class="owntext texts2">Python</div>   
  </div>
</div>
</div>
</div></div>


<div class="col-md-4">
  <div class="container">
<div  align="center" >
  <img src="../../../../assets/mongodb.png" class="imagelogo">
  <div class="caption">
    <div class="overlay">
        <div class="owntext texts2">MongoDB</div>   
  </div>
</div>
</div>
</div></div>


<div class="col-md-4">
  <div class="container">
<div  align="center" >
  <img src="../../../../assets/nodejs .png" class="imagelogo">
  <div class="caption">
    <div class="overlay">
        <div class="owntext texts2">NodeJS</div>   
  </div>
</div>
</div>
</div>
</div>

<div class="col-md-4">
  <div class="container">
<div  align="center" >
  <img src="../../../../assets/reactjs.png" class="imagelogo">
  <div class="caption">
    <div class="overlay">
        <div class="owntext texts2">ReactJS</div>   
  </div>
</div>
</div>
</div>
</div>

<div class="col-md-4">
  <div class="container">
<div  align="center" >
  <img src="../../../../assets/express.png" class="imagelogo">
  <div class="caption">
    <div class="overlay">
        <div class="owntext texts2">ExpressJS</div>   
  </div>
</div>
</div>
</div>
</div>

<div class="col-md-4">
  <div class="container">
<div  align="center" >
  <img src="../../../../assets/software.png" class="imagelogo">
  <div class="caption">
    <div class="overlay">
        <div class="owntext texts2">Software Testing</div>   
  </div>
</div>
</div>
</div>
</div>

 