hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    width: 300px;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    
}

.module-caption{
    color: #2daa9e;
    font-size: 20px;
    font-family: url("https://fonts.google.com/?query=nunit&selection.family=Nunito");
}
hr {
    border-top: 2.5px solid #2daa9e;
    width: 150px;
    }