
<div class="carousel-area" style="height: 650px !important;
width: 100%; position: absolute" >
  <div id="header" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" >
      <div class="item active">
        <img src="../../../assets/banner/DSC_0027.JPG" alt="b1" >
        <div class="carousel-caption">
          
        </div>
      </div>
      <div class="item">
        <img src="../../../assets/banner/hkbk-amant.jpg" alt="b2" >
        <div class="carousel-caption">
          
        </div>
        </div>
        <div class="item">
          <img src="../../../assets/banner/IMG_20180918_103021.jpg" alt="b2" >
          <div class="carousel-caption">
            
          </div>
          </div>
          <div class="item">
            <img src="../../../assets/banner/NGI1.jpg" alt="b2" >
            <div class="carousel-caption">
              
            </div>
            </div>
            <div class="item">
              <img src="../../../assets/banner/NGI4.jpg" alt="b2" >
              <div class="carousel-caption">
                
              </div>
              </div>
              <div class="item">
                <img src="../../../assets/banner/NGI5.jpg" alt="b2" >
                <div class="carousel-caption">
                  
                </div>
                </div>
      </div>
    </div>
