<div class="heading">
        Our Students 
        </div>
        <hr>
        <div id="slideshow">
                <div>
                        <img name="mySlides" src="../../../../assets/1.png" style="width:100%">
                    </div>
                <div>
                        <img name="mySlides" src="../../../../assets/2.png" style="width:100%">
                    </div>
                <div>
                  Pretty cool eh? This slide is proof the content can be anything.
                </div>
             </div>
      <!--  <img name="mySlides" src="../../../../assets/1.png" style="width:100%">
        <img name="mySlides" src="../../../../assets/2.png" style="width:100%">
        <img name="mySlides" src="../../../../assets/3.png" style="width:100%">
        <img name="mySlides" src="../../../../assets/4.png" style="width:100%">-->
    