
<div class="e">
				 
  <h3>Our Students</h3>	<br>
  <div class="line"></div><br>
</div>

<div id="carousel">
  <figure id="spinner">
    <img src="../../../../assets/students/st1.jpg" alt class="simg">
    <img src="../../../../assets/students/st2.jpg" alt class="simg">
    <img src="../../../../assets/students/st3.jpg" alt class="simg"> 
    <img src="../../../../assets/students/st4.jpg" alt class="simg">
    <img src="../../../../assets/students/st5.jpg" alt class="simg">
    <img src="../../../../assets/students/st6.jpg" alt class="simg">
    <img src="../../../../assets/students/st7.jpg" alt class="simg">
    
   </figure>
</div>





