<div class="v">
<h3> Tieup Companies</h3>	<br>
<div class="line"></div><br>
</div>
<div class="row">
    <a href="https://www.ibm.com/in-en/" target="_blanck">
  <div class="col-md-3">
           <div class="flip-box">
             <div class="flip-img">
               <div class="front">
                 <img src="../../../assets/logos/Ibm.png" alt="" width="100%" height="100%">
               </div>
               <div class="back">
               <h4>www.ibm.com</h4>
               </div>
             </div>
           </div>
  </div>
    </a>
    <a href="https://www.hcltech.com/" target="_blanck">
  <div class="col-md-3">
      <div class="flip-box">
        <div class="flip-img">
          <div class="front">
            <img src="../../../assets/logos/hcl.png" alt="" width="100%" height="100%">
          </div>
          <div class="back">
              <h4>www.hcl.com</h4>
          </div>
        </div>
      </div>
</div>
    </a>

    <a href="https://www.oracle.com/index.html" target="_blanck">
<div class="col-md-3">
    <div class="flip-box">
      <div class="flip-img">
        <div class="front">
          <img src="../../../assets/logos/Oracle3.png" alt="" width="100%" height="100%">
        </div>
        <div class="back">
            <h4>www.oracle.com</h4>
        </div>
      </div>
    </div>
</div>
    </a>


<a href="http://pranotechnosoft.com/" target="_blanck">
<div class="col-md-3">
    <div class="flip-box">
      <div class="flip-img">
        <div class="front">
          <img src="../../../assets/logos/prano.png" alt="" width="100%" height="100%">
        </div>
        <div class="back">
            <h4>www.prano Softech.com</h4>
        </div>
      </div>
    </div>
</div>
</a>
</div>

<div class="row" >
    <a href="https://www.zaubacorp.com/company/SHRU2-SOFTECH-SERVICES-PRIVATE-LIMITED/U72900PN2017PTC168879" target="_blanck">
  <div class="col-md-3">
           <div class="flip-box">
             <div class="flip-img">
               <div class="front">
                 <img src="../../../assets/logos/shru2.jpg" alt="" width="100%" height="100%">
               </div>
               <div class="back">
                  <h4>www.shru2 softech.com</h4>
               </div>
             </div>
           </div>
  </div>
    </a>

    <a href="http://www.slkgroup.com/software/" target="_blanck">
  <div class="col-md-3">
      <div class="flip-box">
        <div class="flip-img">
          <div class="front">
            <img src="../../../assets/logos/slk.png" alt="" width="100%" height="100%">
          </div>
          <div class="back">
              <h4>www.slk.com</h4>
          </div>
        </div>
      </div>
</div>
    </a>

    <a href="http://swathy.co.in/" target="_blanck">
<div class="col-md-3">
    <div class="flip-box">
      <div class="flip-img">
        <div class="front">
          <img src="../../../assets/logos/swathy.png" alt="" width="100%" height="100%">
        </div>
        <div class="back">
            <h4>www.swathy.com</h4>
        </div>
      </div>
    </div>
</div>
    </a>

    <a href="https://www.trigent.com/" target="_blanck">
<div class="col-md-3">
    <div class="flip-box">
      <div class="flip-img">
        <div class="front">
          <img src="../../../assets/logos/trigent_logo.png" alt="" width="100%" height="100%">
        </div>
        <div class="back">
            <h4>www.trigent.com</h4>
        </div>
      </div>
    </div>
</div>
    </a>
</div>


<div class="row">
  <a href="https://www.unocoin.com/" target="_blanck">

  <div class="col-md-3">
           <div class="flip-box">
             <div class="flip-img">
               <div class="front">
                 <img src="../../../assets/logos/uc.png" alt="" width="100%" height="100%">
               </div>
               <div class="back">
                  <h4>www.unocoin.com</h4>
               </div>
             </div>
           </div>
  </div>
  </a>

  <a href="https://www.collabera.com/" target="_blanck">
  <div class="col-md-3">
      <div class="flip-box">
        <div class="flip-img">
          <div class="front">
            <img src="../../../assets/logos/Collabera_logo.png" alt="" width="100%" height="100%">
          </div>
          <div class="back">
              <h4>www.collabera.com</h4>
          </div>
        </div>
      </div>
</div>
  </a>

  <a href="https://www.ibm.com/in-en/" target="_blanck">
<div class="col-md-3">
    <div class="flip-box">
      <div class="flip-img">
        <div class="front">
          <img src="../../../assets/logos/Oracle3.png" alt="" width="100%" height="100%">
        </div>
        <div class="back">
            <h4>www.oracle.com</h4>
        </div>
      </div>
    </div>
</div>
  </a>

  <a href="https://www.ibm.com/in-en/" target="_blanck">
<div class="col-md-3">
    <div class="flip-box">
      <div class="flip-img">
        <div class="front">
          <img src="../../../assets/logos/prano.png" alt="" width="100%" height="100%">
        </div>
        <div class="back">
            <h4>www.prano.com</h4>
        </div>
      </div>
    </div>
</div>
  </a>
</div>

