<div class="heading">
  Our Tieup companies 
  </div>
  <hr> 
  
  <div class="row">
    <img id="i1" (mouseenter)="ope('i1')" (mouseout)="dope('i1')" src="../../../assets/logos/Collabera_logo.png" alt="">
    <img id="i2" (mouseenter)="ope('i2')" (mouseout)="dope('i2')" src="../../../assets/logos/hcl.png" alt="">
    <img id="i3"(mouseenter)="ope('i3')" (mouseout)="dope('i3')" src="../../../assets/logos/Ibm.png" alt="">
    <img id="i4"(mouseenter)="ope('i4')" (mouseout)="dope('i4')" src="../../../assets/logos/Oracle3.png" alt="">
    <img id="i5"(mouseenter)="ope('i5')" (mouseout)="dope('i5')" src="../../../assets/logos/slk.png" alt="">
  </div>
<br><br>
  <div class="row">
    <img id="i6"(mouseenter)="ope('i6')" (mouseout)="dope('i6')" src="../../../assets/logos/swathy.png" alt="">
    <img id="i7"(mouseenter)="ope('i7')" (mouseout)="dope('i7')" src="../../../assets/logos/trigent_logo.png" alt="">&nbsp;&nbsp;
    <img id="i8"(mouseenter)="ope('i8')" (mouseout)="dope('i8')" src="../../../assets/logos/uc.png" alt="">
    <img id="i9"(mouseenter)="ope('i9')" (mouseout)="dope('i9')" src="../../../assets/logos/prano.png" alt="">
    <img id="i10"(mouseenter)="ope('i10')" (mouseout)="dope('i10')" src="../../../assets/logos/shru2.jpg" alt="">
  </div>
