<div class="heading">
  Our Testimonial 
  </div>
  <hr> 
  <div class="row" align="center">
    <div class="col-md-12">
      <marquee width="60%" direction="left" height="30%" scrolldelay="0">
      <img class="imgpage" src="../../../assets/logos/Collabera_logo.png">
      <img class="imgpage" src="../../../assets/logos/hcl.png">
      <img class="imgpage" src="../../../assets/logos/Ibm.png">&nbsp;&nbsp;
      <img class="imgpage" src="../../../assets/logos/Oracle3.png">
      <img class="imgpage" src="../../../assets/logos/slk.png">
      <img class="imgpage" src="../../../assets/logos/swathy.png">
      <img class="imgpage" src="../../../assets/logos/trigent_logo.png">&nbsp;
      <img class="imgpage6" src="../../../assets/logos/uc.png">
        </marquee>
    </div>
  </div>
