.panel-heading{
background-color:#2daa9e;
color: white;
font-size: 17px;
font-family: 'Nunito';
}

p{
    font-size: 16px;
    font-family: 'Nunito';
    
}
.panel{
      margin-top: 50px; 
      width: 250px; 
      text-align: center;
      
}