
           
<div class="panel"  style="margin-top: 50px; width: 250px; text-align: center">
    <header class="panel-heading">
      <h4>Our Vision</h4>  
    </header>
</div>
<br>


           
           <div class="col-offset-4 col-md-10 ">

           <p>
            
            We are focused on providing internship 
            and job opportunities to the graduates 
            and enhance their skill sets in all the 
            possible fields,so that they improve 
            intellectually to pursue the career of 
            their choice and have an economically            
            satisfied life ahead.
          </p>
       
        </div>
        
        
        
