      <div class="row">
            <div class="col-md-3">        
                    
                            <div class="container div1">
                                <div class="heading2">
                        <p class="icon fa fa-paint-brush"></p>
                          <h4>UI DEVELOPER</h4>
                        </div>
                            <p class="container2">
                                    We use the modern technologies to develop the Rich User Interface for meeting current scenarios and compatibility
                            </p>
                              
                </div>    
            </div>
      

<div class="col-md-3">
       
            <div class="container div2">
                <div class="heading2">
         <p class="icon fa fa-laptop"></p>
           <H4>
                WEB DEVELOPER
           </H4>
        </div>
        
            <p class="container2">
                    
                    We do the website development which will be responsive and reflect the business in better manner
            </p>
        
</div>
</div>

<div class="col-md-3">
                <div class="container div3">
                    <div class="heading1">
             <p class=" icon fa fa-android" ></p>
    <h4>ANDROID DEVELOPER</h4>
</div>

                <p class="container1">
                        We develop the Android based applicaations for various requirements according to business needs
                    </p>
                
    </div>      
</div>
<div class="col-md-3">
            <div class="container div4">
                <div class="heading1">
        <p class="icon fa fa-tasks"></p>
      <h4>FULL STACK DEVELOPER
      </h4></div>
      
            <p class="container1">
                We develop applications for various clients requirements both front end as well as back end .
            </p>
      
</div>
</div>
</div>