<div class="container">
    <div class="row">
        <h1 >WE DEVELOP</h1>
<br>
        <div class="col-md-4">
        <div class="thumbnail">
            <img src="../../../../../assets/web.png" class="image">
            <div class="caption">
              <h3>Web Development</h3>
            </div>
              <div class="overlay">
                  <div class="text">We do the website development which will be responsive and reflect the business in better manner</div>
                
            </div>
        </div>
</div>

      <div class="col-md-4">
        <div class="thumbnail">
       <img src="../../../../../assets/android.png" class="image">
       <div class="caption">
      <h3> MOBILE APP</h3>
      <div class="overlay">
        <div class="text">We develop the Android and IOS based mobile apps for various requirements according to business needs</div>
      </div>
    </div>
  </div>
    </div>
  
 
  <div class="col-md-4">
    <div class="thumbnail">
    <img src="../../../../../assets/brush.png" alt="" class ="image">
  <div class="caption">
     <h3> UI DEVELOPMENT</h3>
     <div class="overlay">
    <div class= "text">We use the modern technologies to develop the Rich User Interface for meeting current scenarios and compatibility</div>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="row">
    
   <div class="col-md-4">
     <div class="thumbnail">
    <img src="../../../../../assets/search.png"class="image">
    <div class="caption">
       <h3>SEO & SMM</h3>
       <div class="overlay">
       <div class="text">Making your business more visible by many means to customers for both web based and mobile based</div> 
        </div>
      </div>
      </div>
      </div>

    <div class="col-md-4">
        <div class="thumbnail">
      <img src="../../../../../assets/testing.png" alt=""class="image">
      <div class="caption">
       <h3>TESTING</h3>
       <div class="overlay">
       <div class="text"> We do all kind of testing on the software including the manual as well as automation</div>
        </div>
      </div>
      </div>
      </div>

    <div class="col-md-4">
      <div class="thumbnail">
      <img src="../../../../../assets/maintenance.png" alt="" class="image">
      <div class="caption">
       <h3>MAINTENANCE</h3>
       <div class="overlay">
       <div class="text">
        We take care of maintaining your application and you can just relax and focus on your business
      </div>

        </div>
        </div>
    </div>
  </div>
    
</div>
  </div> 