
.div1{
  background-color: lightgray;
  width: 300px !important;
  height: 300px !important;
}
.div2{
  background-color: darkgray;
  width: 300px !important;
  height: 300px !important;
}
.div3{
  background-color: grey;
  width: 300px !important;
  height: 300px !important;
}
.div4{
  background-color: black;
  width: 300px !important;
  height: 300px !important;
}
.container1
{
  font-size: 11pt;
  color: white;
  text-align: left;
}
.container2
{
  font-size: 11pt;
  color: black;
  text-align: left;
}
.heading1
{
  font-size: 14pt;
  color: white;
  text-align: left;
}
.heading2
{
  font-size: 14pt;
  color: black;
  text-align: left;
}