<div class="container">
    <div class="row">
        <h1 style="color: rgb(121, 122, 168)">WE DEVELOP</h1>
      <div class="col-md-4">
       <mat-icon style="font-size: 50px">computer</mat-icon>
      <h4> WEB DEVELOPMENT</h4>
      <p>We do the website development which will be responsive and reflect the business in better manner </p>
      </div>
      <div class="col-md-4">
       <mat-icon style="font-size: 50px">android</mat-icon>
      <h4> MOBILE APP</h4>
      <p>We develop the Android and IOS based mobile apps for various requirements according to business needs
        </p>
  </div>
  
  <div class="col-md-4">
      <mat-icon style="font-size: 50px" >brush</mat-icon>
     <h4> UI DEVELOPMENT</h4>
     <p>We use the modern technologies to develop the Rich User Interface for meeting current scenarios and compatibility
       </p>
  </div>
  </div>
  <div class="row">
    
   <div class="col-md-4">
        <mat-icon style="font-size: 50px">zoom_in</mat-icon>
       <h4>SEO & SMM</h4>
       <p>Making your business more visible by many means to customers for both web based and mobile based
         </p> 
   
    </div>
    
    <div class="col-md-4">
        <mat-icon style="font-size: 50px" >network_check</mat-icon>
       <h4>TESTING</h4>
       <p>We do all kind of testing on the software including the manual as well as automation

         </p>
   </div>
    
    <div class="col-md-4">
        <mat-icon style="font-size: 50px">remove_red_eye</mat-icon>
       <h4>MAINTENANCE</h4>
       <p>We take care of maintaining your application and you can just relax and focus on your business

         </p>
    </div>
    
</div>
  </div> 